{"description" "This model implements the temperature-dependent Effective Interaction Potential for AuCd of Guthikonda and Elliott 2011.  The potential is shifted in energy so that it takes a value of zero eV at the cutoff separation."
 "disclaimer" "none"
 "domain" "openkim.org"
 "extended-id" "MorseEIP_GuthikondaElliott_2011_AuCd__MO_703849496106_001"
 "model-driver" "MorseEIP_GuthikondaElliott_2009__MD_429561112321_001"
 "kim-api-version" "1.6"
 "source-citations" "V.S. Guthikonda and R.S. Elliott, \"An effective interaction potential model for the shape memory alloy AuCd\", Continuum Mechanics and Thermodynamics (2009) 21:269--295.\n\nV.S. Guthikonda and R.S. Elliott, \"Erratum to: An effective interaction potential model for the shape memory alloy AuCd\", Continuum Mechanics and Thermodynamics (2011) 23:177--183."
 "species" ["Au" "Cd"]
 "title" "Effective Interaction Potential Shifted Morse Model for Au Cd by Guthikonda and Elliott 2011"
 "author" "Ryan S. Elliott"
 "contributer-id" "b645a915-d1fa-4155-a3da-65469f990011"
 "maintainer-id" "b645a915-d1fa-4155-a3da-65469f990011"
 "publication-year" "2016"}