{"description" "The potential was developed to simulate the radiation damage in V with small additions of Fe."
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "EAM_Dynamo_Mendelev_Han_VFe__MO_249706810527_002"
 "model-driver" "EAM_Dynamo__MD_120291908751_002"
 "source-citations" "M.I. Mendelev,  S. Han, W. Son,  G.J. Ackland and  D.J. Srolovitz, Phys. Rev. B 76, 214105 (2007)."
 "species" ["V" "Fe"]
 "title" "FS potential for Fe-V"
 "author" "Mikhail I. Mendelev"
 "contributer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "maintainer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "publication-year" "2016"}