{"description" "The potential was designed mainly to simulate the structure of liquid/glass Ni2Zr."
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "EAM_Dynamo_Mendelev_NiZr__MO_149104665840_002"
 "model-driver" "EAM_Dynamo__MD_120291908751_002"
 "source-citations" "M.I. Mendelev, M.J. Kramer, S.G. Hao, K.M. Ho and C.Z. Wang, Phil. Mag 92, 4454-4469 (2012)."
 "species" ["Ni" "Zr"]
 "title" "FS potential for Ni-Zr"
 "author" "Mikhail I. Mendelev"
 "contributer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "maintainer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "publication-year" "2016"}