{"description" "This is a parameterization for the Pair_Lennard_Jones_Truncated model driver for argon (Ar).  The Lennard-Jones (LJ) parameters epsilon and sigma are due to Nguyen et al. (2005).  The cutoff radius is set to 4.5*sigma=15.3 Angstrom.  See the parameter file (.params) for more details."
 "domain" "openkim.org"
 "extended-id" "Pair_Lennard_Jones_Truncated_Nguyen_Ar__MO_398194508715_000"
 "kim-api-version" "1.6"
 "model-driver" "Pair_Lennard_Jones_Truncated__MD_132729421025_000"
 "source-citations" "T. X. Nguyen, S. K. Bhatia and D. Nicholson, \"Prediction of High-Pressure Adsorption Equilibrium of Supercritical Gases Using Density Functional Theory\", Langmuir, 21(7):3187-3197, 2005."
 "species" ["Ar"]
 "title" "Truncated Lennard-Jones model for Ar with parameters from Nguyen"
 "author" "Ellad Tadmor"
 "contributer-id" "360c0aed-48ce-45f6-ba13-337f12a531e8"
 "maintainer-id" "360c0aed-48ce-45f6-ba13-337f12a531e8"
 "publication-year" "2014"}