{"description" "This Model Driver implements a logistic function as the cutoff for the Morse pair potential.  It takes five parameters: (1) the cutoff separation in angstroms, (2) the logisticWidth, (3) the epsilon parameter in eV, (4) the C parameter in inverse angstroms, and (5) the equilibrium pair separation \"Rzero\" in angstroms."
 "domain" "openkim.org"
 "extended-id" "Pair_Morse_Sigmoid__MD_199191711608_000"
 "kim-api-version" "1.6"
 "source-citations" "Jones, J. E. (1924), \"On the Determination of Molecular Fields. II. From the Equation of State of a Gas\", Proc. R. Soc. Lond. A 106 (738): 463-477"
 "title" "This is a Model Driver for Morse pair potential with logistic cutoff function"
 "author" "Hao"
 "contributer-id" "ea8e6409-6510-463e-99c8-bebd0947f897"
 "maintainer-id" "ea8e6409-6510-463e-99c8-bebd0947f897"
 "publication-year" "2015"}