{"description" "Interatomic potential for gold, also suitable for alloys with silver and copper.  Gives good intermetallics Cu3Au CuAu.\n\nWell tested and verified vs experiment on surfaces and surface segregation in CuAu alloys: Surf.Sci.Letters, 275, L685. (1992)"
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "EAM_Dynamo_Ackland_Tichy_Au__MO_104891429740_002"
 "model-driver" "EAM_Dynamo__MD_120291908751_002"
 "source-citations" "\"Simple N-body potentials for the noble metals and nickel\" G.J.Ackland, G.I.Tichy, V.Vitek, and M.W.Finnis, Phil.Mag.A, 56, 735. (1987) \n\"Many-body potentials and atomic scale relaxations in noble metal alloys\" G.J.Ackland, and V.Vitek, Phys.Rev.B, 41, 10324. (1990)\n \"Calculated Energies and Relaxations of the Low Index Planes of Ordered Cu3Au\", W.E.Wallace, and G.J.Ackland, Surf.Sci.Letters, 275, L685. (1992)"
 "species" ["Au"]
 "title" "Finnis Sinclair potential for gold"
 "author" "Graeme J. Ackland"
 "contributer-id" "c3e36b7f-82b0-46cb-9af3-94f80655331e"
 "maintainer-id" "c3e36b7f-82b0-46cb-9af3-94f80655331e"
 "publication-year" "2016"}