{"description" "Visit, https://cmse.postech.ac.kr/home_2nnmeam"
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "MEAM_2NN_Fe_to_Ga__MO_145522277939_001"
 "model-driver" "MEAM_2NN__MD_111291751625_001"
 "source-citations" ""
 "species" ["Fe"
            "Cr"
            "Mo"
            "W"
            "V"
            "Nb"
            "Ta"
            "Mn"
            "Li"
            "Ni"
            "Pd"
            "Pt"
            "Cu"
            "Ag"
            "Au"
            "Al"
            "Pb"
            "C"
            "Si"
            "Ge"
            "Ti"
            "Zr"
            "Co"
            "Mg"
            "O"
            "N"
            "H"
            "In"
            "Ga"]
 "title" "Model parameterization of 2NN MEAM model"
 "author" "Byeong-Joo Lee"
 "contributer-id" "c8ad0beb-f4c8-4ddc-8a25-372f5cc4a17e"
 "maintainer-id" "c8ad0beb-f4c8-4ddc-8a25-372f5cc4a17e"
 "publication-year" "2014"}