{"description" "EAM potential where the functional form of the pair repuslive and pair density terms is the sum of qunitic splines. The embedding function has a relatively complex functional form - see the original publication by Chiesa et al. J. Condens. Matter 2011."
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "model_driver_PF_quintic_splines__MD_543355979582_001"
 "source-citations" "Chiesa, Derlet, Dudarev and Van Swygenhoven, J. Phys.: Condens. Matter 23 (2011) 206001"
 "title" "EAM model driver with qunitic spline functional form of pair repulsive and pair density terms"
 "author" "Mark R. Gilbert"
 "contributer-id" "c2a3340e-1ed1-47b0-86d1-0fb98fa0375d"
 "maintainer-id" "c2a3340e-1ed1-47b0-86d1-0fb98fa0375d"
 "publication-year" "2014"}