{"description" "FS potential for Cu-Zr. The version published in [M.I. Mendelev,  M.J. Kramer, R.T. Ott,  D.J. Sordelet, D. Yagodin and P. Popel, Phil. Mag. 89, 967-987 (2009).] is better for simulation of liquid/glass structure."
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "EAM_Dynamo_Mendelev_Sordelet_CuZr__MO_120596890176_002"
 "model-driver" "EAM_Dynamo__MD_120291908751_002"
 "source-citations" "M.I. Mendelev, D.J. Sordelet and M.J. Kramer, J. Appl. Phys. 102, 043501 (2007)."
 "species" ["Cu" "Zr"]
 "title" "FS potential for Cu-Zr"
 "author" "Mikhail I. Mendelev"
 "contributer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "maintainer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "publication-year" "2016"}