{"description" "Visit, https://cmse.postech.ac.kr/home_2nnmeam"
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "MEAM_2NN__MD_111291751625_001"
 "source-citations" ""
 "title" "Second nearest-neighbor modified embedded-atom-method (2NN MEAM)"
 "author" "Byeong-Joo Lee"
 "contributer-id" "c8ad0beb-f4c8-4ddc-8a25-372f5cc4a17e"
 "maintainer-id" "c8ad0beb-f4c8-4ddc-8a25-372f5cc4a17e"
 "publication-year" "2014"}