{"description" "The potential was designed to simulate solidification in Cu. For simulation of solid properties, the version published in [M.I. Mendelev and A.H. King, Phil. Mag. 93, 1268-1278 (2013).] is better."
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "EAM_Dynamo_Mendelev_Kramer_Cu__MO_945691923444_002"
 "model-driver" "EAM_Dynamo__MD_120291908751_002"
 "source-citations" "M.I. Mendelev,  M.J. Kramer,  C.A. Becker and M. Asta, Phil. Mag. 88,  1723 - 1750 (2008)."
 "species" ["Cu"]
 "title" "FS/EAM potential for Cu"
 "author" "Mikhail I. Mendelev"
 "contributer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "maintainer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "publication-year" "2016"}