{"description" "The potential was designed to simulate the Fe impurities in Al."
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "EAM_Dynamo_Mendelev_Srolovitz_AlFe__MO_577453891941_002"
 "model-driver" "EAM_Dynamo__MD_120291908751_002"
 "source-citations" "M.I. Mendelev,  D.J. Srolovitz,  G.J. Ackland and  S. Han, J. Mater. Res. 20, 208-218 (2005)."
 "species" ["Al" "Fe"]
 "title" "FS potential for Al-Fe"
 "author" "Mikhail I. Mendelev"
 "contributer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "maintainer-id" "f3251c9e-5721-45a2-a0fc-1e48977d95e2"
 "publication-year" "2016"}